{* Latte template *}

{block content}
<header>
    <div id="reg-log">
        {if $user->isLoggedIn()}
        {if $user->isInRole('admin')}
        <p>Jste přihlášen jako Admin</p>
        <div class="adm-container">
            <a href="administration.php" class="adm">Vstup do Administrace</a>
        </div>
        {else}
        <p>Jste přihlášen jako {$user->getIdentity()->username}</p>
        <div class="adm-container">
            <a href="{plink User:}" class="adm">Vstup do Uživatelského rozhraní</a>
        </div>
        {/if}
        <a href="{plink Homepage:Out}" class="logout">Odhlásit se</a>
        {else}
        <button id="register-button">
            Registrace
        </button>
        <button id="login-button">
            Přihlášení
        </button>
        <div id="reglog-modal" style="display: none;">
            {*form signInForm}
            <span class="close cursor">&times;</span>
            {label lusername /}
            {input lusername}
            {label lpassword /}
            {input lpassword}
            {input lsubmit}
            <p id="login-p">Nemáte účet? <span id="login-span">Zaregistrujte se.</span></p>
            {/form*}
            <form n:name=signInForm id="login" method="post" style="display: none;">
                <span class="close cursor">&times;</span>
                <label for="lusername">
                    Uživatelské jméno
                </label>    
                <input n:name=lusername id="lusername" placeholder="Uživatelské jméno" maxlength="20" minlength="1" autocomplete="off"/>
                <label for="lpassword">
                    Heslo
                </label>    
                <input n:name=lpassword id="lpassword" placeholder="Heslo" minlength="4" autocomplete="off"/>
                <input n:name=lsubmit />
                <p id="login-p">Nemáte účet? <span id="login-span">Zaregistrujte se.</span></p>
            </form> 
            {*form registerForm}
            <span class="close cursor">&times;</span>
            {label rusername /}
            {input rusername}
            {label rpassword /}
            {input rpassword}
            {label checkpassword /}
            {input checkpassword}
            {label email /}
            {input email}
            {label checkemail /}
            {input checkemail}
            {input rsubmit}
            <p id="register-p">Už máte účet? <span id="register-span">Přihlásit se.</span></p>
            {/form*}
            <form n:name=registerForm id="register" method="post" style="display: none;">
                <span class="close">&times;</span>
                <label for="rusername">
                    Uživatelské jméno
                </label>    
                <input n:name=rusername id="rusername" placeholder="Uživatelské jméno" maxlength="20" minlength="1" autocomplete="off" required/>
                <label for="rpassword">
                    Heslo
                </label>    
                <input n:name=rpassword id="rpassword" placeholder="Heslo" minlength="4" autocomplete="off" required/>
                <label for="check-password">
                    Kontrola Hesla
                </label>    
                <input n:name=checkpassword id="check-password" placeholder="Heslo Znovu" minlength="4" autocomplete="off" required/>
                <label for="email">
                    Email
                </label>    
                <input n:name=email id="email" placeholder="E-mail" maxlength="40" minlength="6" autocomplete="off" required/>
                <label for="checkemail">
                    Kontrola E-mailu
                </label>    
                <input n:name=checkemail id="checkemail" placeholder="E-mail Znovu" maxlength="40" minlength="6" autocomplete="off" required/>
                <input n:name=rsubmit class="c_sub_input"/>
                <p id="register-p">Už máte účet? <span id="register-span">Přihlásit se.</span></p>
            </form>
        </div>
        {/if}
    </div>
    <div id="search">
        <div id="form-container">
            <form n:name=searchForm>
                <div id="suggestions-container">
                    <input n:name=searchinput id="search-input" autocomplete="off"/>
                    <div id="suggestions"></div>
                </div>
                <input n:name=ssubmit />
            </form>
        </div>
        <a href="cart.php"><button id="cart-btn" class>Košík</button></a>
    </div>
    <div id="navigation">
        <div id="navigation-container">
            <ul id="navigation-ul">
                <li n:foreach="$platforms as $platform" class="platform"><a href="#">{$platform->platform_name|striptags}</a>
                    <ul class="genre-ul">
                        <li n:foreach="$genres as $genre" class="genre">
                            <a href="{plink Product:showgames $platform->platform_name,$genre->genre_name}">{$genre->genre_name|striptags}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="accordion-container">
            {foreach $platforms as $platform0}
            <button class="accordion">{$platform0->platform_name|striptags}</button>
            <div class="panel">
                <ul class="genre-ul">
                    <li n:foreach="$genres as $genre0" class="genre">
                        <a href="{plink Product:showgames $platform0->platform_name,$genre0->genre_name}">{$genre0->genre_name|striptags}</a>
                    </li>
                </ul>
            </div>
            {/foreach}
        </div>
    </div>
</header>